@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

#cartItems::-webkit-scrollbar {
  width: 5px;
}
#cartItems::-webkit-scrollbar-track {
  background: rgba(17, 17, 17, 0.2);
  margin-block: 4px;
}
#cartItems::-webkit-scrollbar-thumb {
  background: rgba(67, 214, 44, 0.6);
  border-radius: 12px;
}

body {
  background-color: #121214;
  font-family: "Inter", system-ui, -apple-system;
}

h1 {
  font-size: 32px;
  color: #e1e1e6;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #f5f5f5;
}

p {
  font-size: 18px;
  color: #c4c4c4;
}

.container {
  width: min(1216px, 100%);
  padding-inline: 24px;
  margin-inline: auto;
}

.payout + .payout {
  margin-left: calc(-136px / 2);
}
